:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nameTitle {
  padding-right: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  background-image: linear-gradient(to bottom right, #fffb00, #33146c);
  background-size: 150% 150%;
  background-attachment: fixed;
  animation: gradientAnimation 16s linear infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

#header {
  border-bottom: solid #42f0de 16px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.paragraph {
  text-indent: 4%;
}

.portImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  border: solid #42f0de 2px;
}

.hoverBox {
  transition: filter 4s;
}
.hoverBox:hover {
  filter: hue-rotate(180deg);
}

.portGithub {
  width: 42px;
  transition: filter 2s;
}
.portGithub:hover {
  filter: invert(100%);
}

#resume {
  color: #7728a4;
}
#resume:hover {
  color: #42f0de;
}

#sendEmail {
  background-color: #7728a4;
  border-color: #2d3339;
}
#sendEmail:hover {
  background-color: #42f0de;
  border-color: #2d3339;
  color: #2d3339;
}

.page {
  color: #521c73;
}

.nav-link:hover {
  color: #42f0de;
}

#about-me {
  flex-wrap: wrap;
  flex-direction: row;
}

#profile-pic {
  margin-right: 10px;
  height: auto;
  float: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 500px) {
  #nameTitle {
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 575px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  .nav-item {
    margin-inline: 5px;
  }
}

/* animations for skills page */
@keyframes fallIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyInBottomLeft {
  from {
    transform: translate(-100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes flyInBottomRight {
  from {
    transform: translate(100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSequential {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.skill-item {
  opacity: 0; /* Start with hidden elements */
}

.fall-in {
  animation: fallIn 2s ease-out forwards;
}

.fly-in-bottom-left {
  animation: flyInBottomLeft 3s ease-out forwards;
}

.fly-in-bottom-right {
  animation: flyInBottomRight 4s ease-out forwards;
}

.resume-item {
  opacity: 0;
  animation: fadeIn 4s ease-out forwards;
}

#profile-pic {
  border-radius: 4px;
  opacity: 0;
  animation: fadeIn 7s ease-out forwards;
}

.paragraph {
  opacity: 0;
}

.paragraph.fade-in {
  animation: fadeInSequential 4s ease-out forwards;
}

.form-line {
  opacity: 0;
  transform: translateY(100%);
  animation: slideInFromBottom 2s ease-out forwards;
}

.form-line.delay-1 {
  animation-delay: 0s;
}

.form-line.delay-2 {
  animation-delay: 1s;
}

.form-line.delay-3 {
  animation-delay: 2s;
}

.form-line.delay-4 {
  animation-delay: 3s;
}

.form-line.delay-5 {
  animation-delay: 4s;
}

.project-card {
  opacity: 0;
  transform: scale(0);
  animation: scaleIn 4s ease-out forwards;
}

.project-card.delay-1 {
  animation-delay: 0s;
}

.project-card.delay-2 {
  animation-delay: 1s;
}

.project-card.delay-3 {
  animation-delay: 2s;
}

.project-card.delay-4 {
  animation-delay: 2s;
}

.project-card.delay-5 {
  animation-delay: 1s;
}

.project-card.delay-6 {
  animation-delay: 0s;
}
